@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.scroll-wrapper {
    display: flex;
    /* overflow-x: scroll; */
    overflow-y: hidden;
}

body {
    overflow-y: hidden;
}

.sec-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.sec-1-div-1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    height: 60vh;
}
.sec1-div1-h1{
    font-family: "Poppins", serif;

}

.sec-1-div-2 {
    height: 40vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.sec-1-div-2 a {
    margin-bottom: 20px;
    margin-right: 20px;
    text-decoration: none;
    color: white;
    font-family: "Poppins", serif;
}